@model IEnumerable<BuildWeek1.DataLayer.Entities.ImageEntity>

@{
    ViewData["Title"] = "Galleria";

    bool isAdmin = true;
}

<h1 class="text-center">Galleria</h1>

<p>
    <a asp-action="Create">Nuova Immagine</a>
</p>
<div class="d-flex flex-row p-2 flex-wrap justify-content-center">
    @foreach (var item in Model) {
        <div class="card m-3 flex-shrink-1">
            <img class="card-img-top" alt="@item.Title" src="@Url.Action(action:"Thumbnail", controller:"Images",new { id = item.Id, width = 150 })" />
            <div class="card-header text-center">
                <div class="card-title">
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                </div>
                <div class="card-subtitle">
                    <a asp-action="ProductsDetails" asp-route-id="@item.Id">Dettagli</a>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </div>
            @if (isAdmin) {
                <div class="card-footer">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="link-warning"><i class="bi bi-pencil-fill" title="Modifica"></i></a>
                    <a asp-action="MvcDelete" class="link-danger delete-link" asp-route-id="@item.Id"><i class="bi bi-eraser-fill" title="Elimina"></i></a>
                </div>
            }
        </div>
    }
</div>
