@using BuildWeek1.BusinessLayer.Dto
@model Pager
@{
    var next = Model.PageIndex <= Model.TotalPages ? Model.PageIndex + 1 : Model.TotalPages;
    var prev = Model.PageIndex == 0 ? 0 : Model.PageIndex - 1;
    var last = Model.TotalPages + 1;
}
<div class="row">
    <div class="offset-4 col-4 pager text-center">
        <a asp-action="@Model.Action" asp-route-page="0" class="first-page" title="Prima pagina">
            <i class="bi bi-skip-backward-circle-fill"></i>
        </a>
        <a asp-action="@Model.Action" asp-route-page="@prev" class="prev-page" title="Pagina precedente">
            <i class="bi bi-rewind-circle-fill"></i>
        </a>
        <span class="page-counter">@(Model.PageIndex + 1)</span> /
        <span class="page-total">@(last + 1)</span>
        <a asp-action="@Model.Action" asp-route-page="@next" class="next-page" title="Pagina successiva">
            <i class="bi bi-fast-forward-circle-fill"></i>
        </a>
        <a asp-action="@Model.Action" asp-route-page="@last" class="last-page" title="Ultima pagina">
            <i class="bi bi-skip-forward-circle-fill"></i>
        </a>
    </div>
</div>